.SwapBox-collateral-tooltip-text {
  font-weight: normal;
}

.rc-slider-handle {
  background-image: url('../../images/trade/slider-thumb.svg') !important;
  border: none !important;
  background-size: 20px 20px !important;
  margin-left: 0px;
  width: 19px;
  height: 18px;
}